@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 223.8136 -172.5242% 100%;
    --foreground: 223.8136 0% 3.9388%;
    --card: 223.8136 -172.5242% 100%;
    --card-foreground: 223.8136 0% 3.9388%;
    --popover: 223.8136 -172.5242% 100%;
    --popover-foreground: 223.8136 0% 3.9388%;
    --primary: 49.9664 174.3513% 36.1946%;
    --primary-foreground: 223.8136 0.0004% 98.0256%;
    --secondary: 223.8136 0.0002% 96.0587%;
    --secondary-foreground: 223.8136 0% 9.0527%;
    --muted: 223.8136 0.0002% 96.0587%;
    --muted-foreground: 223.8136 0% 45.1519%;
    --accent: 223.8136 0.0002% 96.0587%;
    --accent-foreground: 49.9664 174.3513% 36.1946%;
    --destructive: 351.7303 123.6748% 40.5257%;
    --destructive-foreground: 223.8136 -172.5242% 100%;
    --border: 223.8136 0.0001% 89.8161%;
    --input: 223.8136 0.0001% 89.8161%;
    --ring: 223.8136 0% 63.0163%;
    --chart-1: 51.2899 100.8533% 56.4713%;
    --chart-2: 49.9664 174.3513% 36.1946%;
    --chart-3: 47.2993 165.4722% 35.458%;
    --chart-4: 42.7084 157.0678% 31.8031%;
    --chart-5: 38.0069 139.3147% 27.2053%;
    --sidebar: 223.8136 0.0004% 98.0256%;
    --sidebar-foreground: 223.8136 0% 3.9388%;
    --sidebar-primary: 223.8136 0% 9.0527%;
    --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-accent: 223.8136 0.0002% 96.0587%;
    --sidebar-accent-foreground: 223.8136 0% 9.0527%;
    --sidebar-border: 223.8136 0.0001% 89.8161%;
    --sidebar-ring: 223.8136 0% 63.0163%;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 223.8136 0% 3.9388%;
    --foreground: 223.8136 0.0004% 98.0256%;
    --card: 223.8136 0% 9.0527%;
    --card-foreground: 223.8136 0.0004% 98.0256%;
    --popover: 223.8136 0% 14.9382%;
    --popover-foreground: 223.8136 0.0004% 98.0256%;
    --primary: 223.8136 0.0001% 89.8161%;
    --primary-foreground: 223.8136 0% 9.0527%;
    --secondary: 223.8136 0% 14.9382%;
    --secondary-foreground: 223.8136 0.0004% 98.0256%;
    --muted: 223.8136 0% 14.9382%;
    --muted-foreground: 223.8136 0% 63.0163%;
    --accent: 223.8136 0% 25.0471%;
    --accent-foreground: 223.8136 0.0004% 98.0256%;
    --destructive: 358.7594 101.8439% 69.8357%;
    --destructive-foreground: 223.8136 0.0004% 98.0256%;
    --border: 223.8136 0% 15.5096%;
    --input: 223.8136 0% 20.3885%;
    --ring: 223.8136 0% 45.1519%;
    --chart-1: 211.788 101.9718% 78.6759%;
    --chart-2: 217.4076 91.3672% 59.5787%;
    --chart-3: 221.4336 86.3731% 54.0624%;
    --chart-4: 223.6587 78.718% 47.8635%;
    --chart-5: 226.5426 70.0108% 39.9224%;
    --sidebar: 223.8136 0% 9.0527%;
    --sidebar-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-primary: 225.3451 84.0953% 48.9841%;
    --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-accent: 223.8136 0% 14.9382%;
    --sidebar-accent-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-border: 223.8136 0% 15.5096%;
    --sidebar-ring: 223.8136 0% 32.1993%;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  .theme {
    --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite
      alternate;
    --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  }
}

::selection {
  color: hsl(var(--accent-foreground));
  background: hsl(var(--accent));
}

::-moz-selection {
  color: hsl(var(--accent-foreground));
  background: hsl(var(--accent));
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.buttonGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, auto);
}

.goldText {
  background: linear-gradient(
    to bottom left,
    #cfc09f 27%,
    #ffecb3 40%,
    #3a2c0f 78%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.list {
  list-style: upper-alpha;
}
.list2 {
  list-style: upper-roman;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@theme inline {
  @keyframes shimmer-slide {
    to {
      transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }
    15%,
    35% {
      transform: translateZ(0) rotate(90deg);
    }
    65%,
    85% {
      transform: translateZ(0) rotate(270deg);
    }
    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}
