@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 100% 98.0392%;
    --foreground: 240 27.5862% 22.7451%;
    --card: 0 0% 100%;
    --card-foreground: 240 27.5862% 22.7451%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 27.5862% 22.7451%;
    --primary: 251.9008 55.7604% 57.451%;
    --primary-foreground: 0 0% 100%;
    --secondary: 249.375 100% 93.7255%;
    --secondary-foreground: 249.375 33.3333% 37.6471%;
    --muted: 240 50% 96.0784%;
    --muted-foreground: 240 12.1951% 48.2353%;
    --accent: 218.4615 100% 92.3529%;
    --accent-foreground: 240 27.5862% 22.7451%;
    --destructive: 350.1754 100% 66.4706%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 34.7826% 90.9804%;
    --input: 240 34.7826% 90.9804%;
    --ring: 251.9008 55.7604% 57.451%;
    --chart-1: 251.9008 55.7604% 57.451%;
    --chart-2: 249.6429 94.9153% 76.8627%;
    --chart-3: 239.1781 82.0225% 65.098%;
    --chart-4: 243.1579 93.007% 71.9608%;
    --chart-5: 243.6522 47.3251% 47.6471%;
    --sidebar: 240 50% 96.0784%;
    --sidebar-foreground: 240 27.5862% 22.7451%;
    --sidebar-primary: 251.9008 55.7604% 57.451%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 218.4615 100% 92.3529%;
    --sidebar-accent-foreground: 240 27.5862% 22.7451%;
    --sidebar-border: 240 34.7826% 90.9804%;
    --sidebar-ring: 251.9008 55.7604% 57.451%;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 2px 4px -1px hsl(240 30% 25% / 0.12);
    --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 4px 6px -1px hsl(240 30% 25% / 0.12);
    --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 8px 10px -1px hsl(240 30% 25% / 0.12);
    --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.3);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 240 26.8293% 8.0392%;
    --foreground: 240 48.7179% 92.3529%;
    --card: 240 27.7778% 14.1176%;
    --card-foreground: 240 48.7179% 92.3529%;
    --popover: 240 27.7778% 14.1176%;
    --popover-foreground: 240 48.7179% 92.3529%;
    --primary: 251.25 100% 78.0392%;
    --primary-foreground: 240 26.8293% 8.0392%;
    --secondary: 242.8571 32.8125% 25.098%;
    --secondary-foreground: 241.9672 100% 88.0392%;
    --muted: 240 33.3333% 20%;
    --muted-foreground: 240 20.2532% 69.0196%;
    --accent: 240 33.3333% 28.2353%;
    --accent-foreground: 240 48.7179% 92.3529%;
    --highlight: 43 100% 50%;
    --highlight-foreground: 46 100% 50%;
    --destructive: 350.1754 100% 66.4706%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 26.1538% 25.4902%;
    --input: 240 26.1538% 25.4902%;
    --ring: 251.25 100% 78.0392%;
    --chart-1: 251.25 100% 78.0392%;
    --chart-2: 230.4878 44.086% 63.5294%;
    --chart-3: 206.7123 89.0244% 67.8431%;
    --chart-4: 174.2857 41.8327% 50.7843%;
    --chart-5: 325.5224 100% 73.7255%;
    --sidebar: 240 27.7778% 14.1176%;
    --sidebar-foreground: 240 48.7179% 92.3529%;
    --sidebar-primary: 251.25 100% 78.0392%;
    --sidebar-primary-foreground: 240 26.8293% 8.0392%;
    --sidebar-accent: 240 33.3333% 28.2353%;
    --sidebar-accent-foreground: 240 48.7179% 92.3529%;
    --sidebar-border: 240 26.1538% 25.4902%;
    --sidebar-ring: 251.25 100% 78.0392%;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 2px 4px -1px hsl(240 30% 25% / 0.12);
    --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 4px 6px -1px hsl(240 30% 25% / 0.12);
    --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 8px 10px -1px hsl(240 30% 25% / 0.12);
    --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.3);
  }
  .theme {
    --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite
      alternate;
    --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  }
}

::selection {
  color: hsl(var(--accent-foreground));
  background: hsl(var(--accent));
}

::-moz-selection {
  color: hsl(var(--accent-foreground));
  background: hsl(var(--accent));
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.buttonGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, auto);
}

.goldText {
  background: linear-gradient(
    to bottom left,
    #cfc09f 27%,
    #ffecb3 40%,
    #3a2c0f 78%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.list {
  list-style: upper-alpha;
}
.list2 {
  list-style: upper-roman;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@theme inline {
  @keyframes shimmer-slide {
    to {
      transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }
    15%,
    35% {
      transform: translateZ(0) rotate(90deg);
    }
    65%,
    85% {
      transform: translateZ(0) rotate(270deg);
    }
    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

/* Home Page Gallery */

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(30, 1fr);
  gap: 8px;
}

.div1 {
  grid-row: span 3 / span 3;
}

.div2 {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 2;
}

.div3 {
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 1;
}

.div4 {
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 4;
}

.div5 {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
}

.div6 {
  grid-row: span 3 / span 3;
  grid-row-start: 4;
}

.div7 {
  grid-row: span 3 / span 3;
  grid-row-start: 4;
}

.div8 {
  grid-row: span 2 / span 2;
  grid-row-start: 4;
}

.div9 {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 7;
}

.div10 {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 7;
}
